In [1]:
#import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [11]:
#load data set
url="https://drive.google.com/file/d/1dKZxapT3xLzOTOpy1LCyqctL8YEvzp4Y/view?usp=drive_link"
file_id = url.split("/")[5]
url= f"https://drive.google.com/uc?id={file_id}"
df=pd.read_csv(url)

Task 2: CITY ANALYSIS

Identify the city with the highest number of restaurants in the dataset

In [3]:
print(df.columns)

Index(['Restaurant ID', 'Restaurant Name', 'Country Code', 'City', 'Address',
       'Locality', 'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Is delivering now', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Rating color', 'Rating text',
       'Votes'],
      dtype='object')

In [4]:
city_count=df['City'].value_counts()
restaurant_no=city_count.head(1)
print("city with the highest number of restaurents : ",city_count.idxmax())
print(restaurant_no)

city with the highest number of restaurents :  New Delhi
City
New Delhi    5473
Name: count, dtype: int64

Calculate the average rating for restaurants in each city

In [6]:
rating_by_each_city=df.groupby('City')['Aggregate rating'].mean()
print("The average ratiing of each city : ",rating_by_each_city)

The average ratiing of each city :  City
Abu Dhabi          4.300000
Agra               3.965000
Ahmedabad          4.161905
Albany             3.555000
Allahabad          3.395000
                     ...
Weirton            3.900000
Wellington City    4.250000
Winchester Bay     3.200000
Yorkton            3.300000
��stanbul          4.292857
Name: Aggregate rating, Length: 141, dtype: float64

Determine the city with the highest average rating

In [9]:
top_rated_city=rating_by_each_city.idxmax()
value=rating_by_each_city.max()
print("The city with highest Avg. Rating is: ",top_rated_city," ,","Rating=",value)

The city with highest Avg. Rating is:  Inner City  , Rating= 4.9